.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  color: #e6e5ea;
}

.password-container {
  width: 540px !important;
  max-width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.copy-section {
  background-color: #24232c;
}

.generate-section {
  height: 528px;
  background-color: #24232c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;
}
.generate-section p {
  font-size: 18px;
  font-weight: 700;
  display: inline;
  margin: 0;
}

.generate-section .character-length {
  width: 476px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.generate-section .character-length input {
  background-color: #24232c;
  color: #a4ffaf;
  border: none;
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
  width: 300px;
  text-align: end;
  outline: none !important;
}
.generate-section .character-length input:focus {
  box-shadow: none;
  border: none;
}

.copy-section .input-group {
  height: 100%;
}

.copy-section input,
.copy-section span {
  background-color: #24232c;
  border-color: #24232c;
}

.copy-section input:focus {
  background-color: #24232c;
  color: #e6e5ea;
  border: none;
  box-shadow: none;
}

.copy-section input {
  color: #e6e5ea;
  font-size: 32px;
  font-weight: bold;
  padding-left: 32px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 0;
}

.copy-section span {
  padding-right: 32px;
  padding-left: 0;
}

.copy-section input::placeholder {
  color: #e6e5ea;
  opacity: 0.25;
}

.copy-section img:hover {
  filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(2deg) brightness(101%)
    contrast(107%);
  cursor: pointer;
}
